body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
  
  }
/* style menu de navigation */
.container{
    max-width: 1440px; 
    height: 100%;
    margin: auto;
}
nav{
    display: flex;
    background-color: black;
    color: white;
    height: 91px;
    width: 1440px;
    flex-direction: column;
}
ul{
list-style-type:none;
}
.menu-horizontal{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 2px;
    font-size: 24px

}
.menu-horizontal img{
    width: 178px;
    height: 60px;
}
.menu-horizontal li {
    margin-top: 13px;
}
.menu-horizontal li+li{
    padding-left: 200px;
}
.menu-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        background-color: black;
    align-items: center;
    /* margin-left: 199px; */
    padding-left: 30px;
    padding-right: 30px;

    height: 1024px;
    width: 64px;
}
.menu-vertical li{
    padding: 14px;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title h2{
    color: red;
    padding-left: 10px;
}
.title h1 ,h2{
    font-size: 48px;
}
.menu-vertical ul{
    padding-left: 0px;
    margin-top: 100px;
}
.li-vertical{
    writing-mode: vertical-rl;
text-orientation: mixed;
rotate: 180deg;
color: white;
}
/* ///////dashboard */
.content{
    display: flex;
    flex-direction: row;
}
.dashboard{
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 9px;
    background-color: white
}
.flexContent{
    display: flex;
    margin-top: 59px;}
.poid{
    background-color: #c0c0c01a;
    width: 950px;
    height: 320px;
    padding-top: 3px;
}
.poid p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.allObject{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.objectifs, .radar, .kpi {
    width: 281px;;
    height: 263px;
    border-radius: 10px;
}
.kpi p{
    padding-left: 19px;
    padding-top: 12px;
    font-size: 20px;
}
.kpi .recharts-responsive-container{
    margin-top: -24%;
}
.calories, .proteines, .glucides, .lipides{
    display: flex;
    width: 200px;
     height: 102px;
justify-content: space-evenly;
 align-items: center;
background-color: #c0c0c01a;
}
.substrats{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kpi{
    background-color:#c0c0c01a ;
}
.radar{
    background-color:rgba(40, 45, 48, 1);

}
.objectifs {
    background-color: #FF0000;   
}
.custom-tooltip{
    background-color: red;
    color: white;
   width: 39px;
   height: 63px;
   text-align: center;
   font-size: 7px;
   padding-top: 10px;
   margin-left: 20px;
}

.recharts-cartesian-axis-tick-line{
    display: none;
}

.poid .recharts-responsive-container {
    margin: auto!important;
    padding-top: 30px!important;
}
.recharts-legend-icon{
    clip-path:ellipse(33% 50%)!important;
}
.poid .recharts-legend-wrapper{
    position: absolute;
    width: 741px!important;
    height: auto!important;
    left: 94px!important;
    /* top: -7px; */
    top: -60px!important
}
.recharts-polar-grid-angle{
    display: none;
}
.radar .recharts-text {
    color:white!important;
}
/* .recharts-wrapper{
    margin-left: auto;
    margin-right: auto;
} */
.radar .recharts-responsive-container{
    width: 87%!important;
    margin-left: auto;
    margin-right: auto;
}
/* .recharts-radial-bar-background{
background-color: green;
} */
.poid .recharts-legend-item-text{
    color: #74798C!important;
}
.objectifs .recharts-text {
    color: white;
}
.custom-tooltipLine{
    background-color: white;
    font-size: 10px;
    width: 39px;
    height: 25px;
}
.label1{
line-height: 25px;    
text-align: center;
font-size: 7px;
}
.custom-tooltip{
    font-size: 7px;
}
.objectifs .recharts-legend-item legend-item-0{
    display: none!important;
}
.objectifs .recharts-legend-item-text {
    color: #f5faf569!important;
    opacity: 0,5;
    margin-top: -206px;
    margin-left: -94px;
    position: absolute;
    text-align: initial;
}

.objectifs .recharts-legend-icon{
display: none;}
/* .recharts-cartesian-axis-tick + .recharts-cartesian-axis-tick{
    padding-left: 50px!important;
} */
.poid ul{
    text-align: end!important;
    /* margin-left: 20px!important; */
}
.recharts-cartesian-grid-vertical{
    display: none;
}
/* .poid .recharts-cartesian-axis-line{
    width: 100px!important;
} */
/* .recharts-rectangle + .recharts-bar-rectangle{
    fill: pink;
    margin-left: 20px !important;
  } */
  /* .poid line{
width: 100px!important; 

  } */
  .myChart .recharts-x-axis .recharts-cartesian-axis-tick-value {
    transform: translateY(6px);
  }
  
  .myChart .recharts-y-axis .recharts-cartesian-axis-tick-value {
    transform: translateX(-6px);
  }